# Ignore virtual environment
venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore temporary or system files
*.pyc
__pycache__/
.DS_Store
Thumbs.db

# Ignore large datasets
Data Historical/

# Ignore specific file
Project Notes.odt


Interpretation/
